@media (max-width: 767px) {
.grocers_card .grocers_card_btn {
    border-radius: 20px;
    padding: 3px 25px 3px 25px;
    margin: 0px 3px 0px 0px;
}
.navbar-tool-icon {
font-size: 0.9rem;
}

.grocery_banner_content 
{
	padding:0px 0px 0px 20px;
}

.grocery_banner_content h2 {
  font-size: 35px;
    
}

.grocery_banner_content p {
    font-size: 20px;
    font-weight: 600;
}

.grocery_banner_content .btn {
    font-size: 14px;
    
}
.banner_btn a {
    border-radius: 20px;
    padding: 3px 25px 3px 25px;
}

.res_burg_color
{
color:#ffffff!important;
}	
.responsive_toggol_link a
{
	color:#000!important;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}
/*.res_cart_icon
{
	display:none;
}*/

.cd-dropdown-content .see-all a {
    color: #fff!important;
}

.shop_demand_banner  {
	margin-top:1rem;
}
.section_space_padding {
    padding-top: 1rem;
    padding-bottom: 0rem;
}
.sec_top_mt {
    margin-top: 2rem;
}

/*toggol style */

.#button-2 .knobs:before, #button-2 .knobs:after {
    width: 70px;
}
#button-2 .knobs:before, #button-2 .knobs:after {
    width: 70px;
}
.button {
    width: 140px;
}

.button {
    width: 120px;
}
/*toggol style*/
.shoping_cart_img
{
	width:50px;
	float:right;
}
.form_content {
    background: #004195;
    padding: 25px 20px 20px 20px;
}

.shoping_cart_img
{
	display:none;
}

.login_left_bg {
    border-top-right-radius: 20px;
}

/*products page*/
.custom-product-tab .custum-tab-btn
{
	 font-size: 10px;
	 font-weight: 600;
}

.tab_product {
    margin: 0rem 0rem 2rem 0rem;
}

.view_product_tab_heading {
    font-size: 9px;
}

.tab_product_heading {
    margin-left: 3.6rem;
    font-size: 9px;
}
.tab_compnay_sticker {
    margin-top: -5rem;
    width: 45px;
}
.search_page_tab_heading {
    margin-top: 20px;
}

.all-product-hrading h2
{
	font-size: 14px;
	margin-top: 15px;
    font-weight: 600;
}

}

 /*--cover up mac , mac-book---*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

.grocers_card .grocers_card_btn {
    font-size: 11px;
	padding: 0px 10px;
  
}
.service_card .card-title {
    font-size: 14px;
    color: #767676;
}

.header_login_btn .header_signup_btn {
    padding: 0.425rem 0.7rem;
    font-size: 12px;
}


.button {
    width: 120px;
}
.header_login_btn .login_text {
    font-weight: 500;
    font-size: 12px;
}

.navbar-tool-icon {
    font-size: 1rem;
    line-height: 2rem;
}
/*.navbar-tool-icon-box {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}*/
#button-2 .knobs:before, #button-2 .knobs:after {
   
    width: 70px;
  
}
.en-list-li-content
{
	font-size:12px;
}
.shop_card_font {
    font-size: 14px;
}
.post-meta {
    font-weight: 600;
    font-size: 10px;
}
.card_title_dot {
    font-size: 3px;
}

.quick_service_card h6 {
    font-size: 10px;
    line-height: 12px;
}
.grocers_product_info span {
    font-size: 15px;
    font-weight: 600;
}

}


@media only screen and (min-width: 1024px) and (max-width: 1024px) {
.grocers_card .grocers_card_btn {
    font-size: 9px;
    padding: 0px 8px;
	font-weight:600;
}
.hrader_logo
{
	width:100px;
}

.footer-social-icon > a > i {
   
    font-size: 16px;
    color: #000;
    height: 30px;
    width: 30px;
    line-height: 30px;
   
}

.playstore_img
{
	width:100px;
}
.product-grid .product-link a {
    font-size: 12px;
    width: 47%;
}
}

@media only screen and (min-width: 1440px) and (max-width: 900px) { /* Your Styles... */ 

}

@media only screen and (min-width: 1680px) and (max-width: 1050px) { /* Your Styles... */ 

}

@media only screen and (min-width: 1280px) and (max-width: 800px) { /* Your Styles... */ 

}
@media only screen and (min-height: 800px) { /* Your Styles... */ 

}