@media (max-width: 767px) {
.grocers_card .grocers_card_btn {
    border-radius: 20px;
    padding: 3px 25px 3px 25px;
    margin: 0px 3px 0px 0px;
}

.grocery_banner_content 
{
	padding:0px 0px 0px 20px;
}

.grocery_banner_content h2 {
  font-size: 35px;
    
}

.grocery_banner_content p {
    font-size: 20px;
    font-weight: 600;
}

.grocery_banner_content .btn {
    font-size: 14px;
    
}
.banner_btn a {
    border-radius: 20px;
    padding: 3px 25px 3px 25px;
}

.res_burg_color
{
color:#ffffff!important;
}	
.responsive_toggol_link a
{
	color:#000!important;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}
.res_cart_icon
{
	display:none;
}

.cd-dropdown-content .see-all a {
    color: #fff!important;
}

.shop_demand_banner  {
	margin-top:1rem;
}
.section_space_padding {
    padding-top: 1rem;
    padding-bottom: 0rem;
}
.sec_top_mt {
    margin-top: 2rem;
}

}

 /*--cover up mac , mac-book---*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

.grocers_card .grocers_card_btn {
    font-size: 10px;
	padding: 0px 10px;
  
}
.card-title {
    font-size: 14px;
    color: #767676;
}

.header_login_btn .header_signup_btn {
    padding: 0.425rem 0.7rem;
    font-size: 12px;
}


.button {
    width: 120px;
}
.header_login_btn .login_text {
    font-weight: 500;
    font-size: 12px;
}

.navbar-tool-icon {
    font-size: 0.8rem;
    line-height: 2rem;
}
.navbar-tool-icon-box {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}
#button-2 .knobs:after {
    width: 70px;
}
.en-list-li-content
{
	font-size:12px;
}
.shop_card_font {
    font-size: 14px;
}
.post-meta {
    font-weight: 600;
    font-size: 10px;
}
.card_title_dot {
    font-size: 3px;
}

.quick_service_card h6 {
    font-size: 10px;
    line-height: 12px;
}
.grocers_product_info span {
    font-size: 15px;
    font-weight: 600;
}

}

